{% extends "base.html" %}
{% block content %}
<style>
    br {margin-bottom: 10px;}
</style>
    <form method='POST'>
        <label for="username">Username</label>type = text
            <input name="username" type="text" />
        </label>
    <br>
        <label for="password">Password</label>type = password
            <input name="user_password" type="password" />
        </label>
    <br>
        <label for="password_confirm">Verify Password</label>type = password
            <input name="password_confirm" type="password" />
        </label>
    <br>
        <label for="user_email">Email (Optional)</label>type = text
            <input name="user_email" type="text" />
        </label>
{% endblock %}
        